{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue BG {{user}}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam perspiciatis at delectus velit debitis unde ea incidunt tenetur quis praesentium.</p>
<p>Minima nesciunt enim amet eaque magnam ut, itaque deleniti dolore ratione nisi nihil est sint officia magni delectus cum accusantium?</p> 

{% endblock %}
